/vaadin-opencore-counter/counter-enterprise/node_modules/
/vaadin-opencore-counter/counter-enterprise/src/main/bundles/
/vaadin-opencore-counter/counter-enterprise/src/main/frontend/generated/
/vaadin-opencore-counter/counter-community/node_modules/
/vaadin-opencore-counter/counter-community/src/main/bundles/
/vaadin-opencore-counter/counter-community/src/main/frontend/generated/